.top_header {
    padding: 7px 0px;
    background: var(--main-color);
}

.header_contact {
    position: relative;
}

.header_contact ul li a {
    color: var(--global-color);
}

.contact_header_icon i {
    font-weight: 400;
}

.contact_header_text {
    font-size: 18px;
    font-weight: 300;
    margin-left: 5px;
}

.social_icon {
    height: 25px;
    width: 25px;
    background-color: rgb(255 255 255 / 10%);
    display: grid;
    place-content: center;
    border-radius: 3px;
}


.logo a {
    width: 100px;
    display: flex;
    align-items: center;
}

.main_header {
    padding: 10px 0px;
    border-bottom: 1px solid var(--border-color);
    background: var(--primary-bg);
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav_item {
    position: relative;
}

.header_nav_link {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 6px;
    line-height: 24px;
    transition: var(--transition);
}

.header_nav_item:not(:last-child):hover .header_nav_link {
    color: var(--main-color);
}

.header_nav_link i {
    font-weight: 400;
    font-size: 14px;
}

.contact_btn {
    padding: 6px 20px;
    background: var(--text-color);
    border-radius: 25px;
    color: var(--global-color);
}

.sub_menu {
    position: absolute;
    z-index: 5;
    top: 160%;
    left: 0px;
    width: 200px;
    max-height: 0px;
    background: var(--global-color);
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    border-radius: 4px;
    transition: var(--transition);
    visibility: hidden;
    opacity: 0;
}

.header_nav_item:hover .sub_menu {
    max-height: 800px;
    visibility: visible;
    opacity: 1;
}


.sub_menu_link {
    display: block;
    color: var(--text-color);
    gap: 12px;
    font-weight: 500;
    padding: 6px 20px;
    border-bottom: 1px dotted rgb(15 23 42 / 20%);
    font-size: 15px;
}

.sub_menu_link:hover {
    background: var(--main-color);
    color: var(--global-color);
}

.header_nav_item:not(:last-child) .sub_menu_link {
    margin-bottom: 5px;
}


/* breadcrumb */

.breadcrumb {
    background: var(--primary-bg);
}

.breadcrumb_content {
    max-width: 860px;
    width: 100%;
}

.breadcrumb_title {
    font-size: 36px;
    font-weight: 600;
    color: var(--main-color);
    margin-bottom: 15px;
}

.breadcrumb_title span {
    color: var(--text-color);
}

.breadcrumb_text {
    color: var(--color);
    font-size: 17px;
    font-weight: 500;
}


/* Mobile Nav */

.offcanvas.offcanvas-start {
    width: 320px;
    height: 100vh;
}

.offcanvas-backdrop {
    height: 100vh;
}

.nav_logo a {
    width: 95px;
    display: block;
}

.mobile_suv_nav>ul {
    margin: 10px;
    padding-bottom: 10px;
}

.mobile_nav ul li:not(:last-child) {
    margin-bottom: 10px;
}

.nested_mobile_subnav ul {
    margin: 10px;
    border-radius: 4px;
}

.mobile_sub_nav_item {
    background: #e9ecef;
}

a.sub_dropdown_btn.active {
    background: var(--main-color);
    color: var(--global-color) !important;
}

.offcanvas-header button,
.cross_tourside button,
.modal__header button {
    height: 36px;
    width: 36px;
    background: var(--main-color);
    box-sizing: border-box;
    border-radius: 50%;
    color: var(--global-color);
    border: none;
    font-size: 20px;
    display: grid;
    place-content: center;
}

.mobile_nav>ul>li {
    background: var(--primary-bg);
    border-radius: 5px;
}

.mobile_nav ul li a {
    padding: 7px 20px;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a.dropdown_button.active {
    background: var(--main-color);
    color: var(--global-color);
}

.mobile_sub_nav_item a {
    color: var(--text-color) !important;
    padding: 5px 10px;
}

.mobile_suv_nav {
    display: none;
}

.nested_mobile_subnav {
    display: none;
}

/* slider start */
.single__slider {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    min-height: 60vh;
    display: flex !important;
    transition: var(--transition);
    align-items: center;
}

.single__slider::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .3;
    z-index: -1;
}

.slider__content h2 {
    font-size: 50px;
    font-weight: 600;
}

.slider__content p {
    font-size: 18px;
    padding: 20px 0;
    padding-bottom: 15px;
}

.main_btn {
    padding: 15px 20px;
    display: inline-block;
    border-radius: 50px;
    background: #4555f4;
    cursor: pointer;
    color: #fff;
    line-height: 1;
    letter-spacing: 2px;
    overflow: hidden;
    position: relative;
    font-weight: 600;
    margin-top: 20px;
    z-index: 2;
}

.slider__content {
    position: relative;
}

.main_btn::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
    z-index: -1;
    border-radius: 50px;
}

.main_btn:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.banner__active .slick-dots {
    position: inherit;
    top: -50px;
}

/* slider end */

/* count success start */

.single__count {
    padding: 30px 10px;
    border-radius: 10px;
    box-shadow: rgb(209, 210, 230) 0px 8px 24px;
    transition: var(--transition);
}

.single__count:hover {
    transform: translateY(-5px);
}

.single__count img {
    width: 100px;
    margin: auto;
    transition: var(--transition);
}

.single__count h2 {
    font-size: 40px;
}

.single__count h4 {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--main-color);
}

.single__count:hover img {
    transform: scale(1.1);
}

/* count success end */

/* scholarship start */
.scholarship__area #nav-tab {
    display: flex;
    justify-content: center;
    border: none;
    gap: 5px;
}

.scholarship__area #nav-tab button.nav-link {
    background: var(--main-color);
    color: #fff;
    border-radius: 0;
    font-size: 20px;
}

.scholarship__area #nav-tab button.nav-link.active {
    border: none;
    opacity: .8;
}

.single__scholarship {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 50px 20px;
    transition: var(--transition);
    gap: 20px;
}

.single__scholarship:hover {
    transform: translateY(-5px);
}

.scholarship__thumbnail img {
    width: 80%;
    margin: auto;
}

.scholarship__thumbnail {
    display: flex;
    /* border-right: 1px solid var(--main-color); */
    flex-direction: column;
    text-align: center;
}

.scholarship__content ul li {
    font-size: 18px;
    margin-bottom: 15px;
    list-style: disc;
}

.scholarship__content ul li:last-child {
    margin-bottom: 0;
}

.scholarship__thumbnail,
.scholarship__content {
    width: 50%;
}

.scholarship__thumbnail h6 {
    margin-bottom: 0;
    font-size: 18px;
    color: var(--main-color);
    font-weight: 600;
    padding: 20px 0;
}

.faq__area .accordion-button,
.admission__area .accordion-button {
    background: var(--main-color);
    color: #fff;
    font-size: 18px;
}

.faq__area .accordion-item,
.admission__area .accordion-item {
    margin: 15px 0;
    border-radius: 10px;
}

.faq__area .accordion-button::after,
.admission__area .accordion-button::after {
    content: "\f107";
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    font-size: 25px;
    color: #fff;
    transition: var(--bs-accordion-btn-icon-transition);
    background: none;
}

.faq__area .accordion-item .accordion-body p,
.admission__area .accordion-item .accordion-body p {
    font-size: 18px;
}

.question__area input,
.question__area textarea,
.question__area select {
    padding: 10px;
    border-radius: 2px;
}

.question__area input:focus,
.question__area textarea:focus,
.question__area select:focus {
    box-shadow: none;
}

/* scholarship end */


/* services start */
.service__content {
    overflow: hidden;
    display: block;
    border-radius: 10px;
}

.single__service img {
    max-width: 68px;
    margin: auto;
    transition: var(--transition);
    width: 100%;
    margin-top: 20px;
}

.service__content:hover .single__service img {
    margin-top: 0px;
    margin-bottom: 20px;
}

.service__content:hover img {
    transform: scale(1.1);
}

.single__service h6 {
    text-transform: uppercase;
    padding: 0 10px;
    transition: var(--transition);
    margin-top: 20px;
    color: var(--text-color);
    font-weight: 500;
}

.service__content:hover .single__service h6 {
    margin-top: 0px;
    margin-bottom: 26px;
}

.service__hover p {
    color: var(--text-color);
}

.single__service {
    text-align: center;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    position: relative;
    transition: var(--transition);
    padding: 40px 20px;
}


.service__hover {
    position: absolute;
    bottom: -50%;
    text-align: center;
    background: #cfd3ff;
    border-radius: 0 0 8px 8px;
    padding: 5px 10px;
    transition: var(--transition);
    opacity: 0;
    visibility: hidden;
}

.service__content:hover .service__hover {
    bottom: 0;
    opacity: 1;
    visibility: visible;
}


.single__accommodation {
    margin-bottom: 20px;
}


.service__sidebar__thumbnail img {
    max-width: 68px;
    margin-right: 10px;
}

.service__sidebar a {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--text-color);
    padding: 10px 0;
}

.service__sidebar a:last-child {
    border-bottom: 0;
}

.service__sidebar h2 {
    margin-bottom: 10px;
}

.service__sidebar {
    position: sticky;
    top: 0;
}

.service__sidebar a:last-child {
    border-bottom: 0;
}

.service__sidebar a h6 {
    text-transform: capitalize;
    color: var(--text-color);
}

.admission__service p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 30px;
}

.admission__service .accordion-body ul li {
    font-size: 16px;
    font-weight: 300;
    list-style: circle;
}

.admission__service .accordion-body ul {
    margin-left: 30px;
    margin-bottom: 20px;
}

.visa__service__process h2 {
    text-transform: capitalize;
    color: var(--main-color);
    margin-bottom: 20px;
}

.visa__service__process p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 15px;
}

.visa__service__process ul li i {
    background: var(--main-color);
    color: #fff;
    padding: 5px;
    font-size: 10px;
    border-radius: 10px;
}

.visa__service__process ul li {
    margin-bottom: 15px;
}

.visa__service__process ul li:last-child {
    margin-bottom: 0;
}

.visa__service__process {
    margin-bottom: 50px;
}

.visa__service__process:last-child {
    margin-bottom: 0;
}

.visa__service__process ul {
    margin-left: 30px;
    margin-top: 50px;
}

.english__fluncy__service ul li {
    list-style: disc;
    font-size: 16px;
    font-weight: 300;
}

.english__fluncy__service ul li span {
    font-weight: 500;
}

/* services end */

/* university start */

.single__university {
    padding: 10px;
    border-radius: 10px;
    transition: var(--transition);
    background: #fff;
}

.single__university:hover {
    transform: translateY(-5px);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.university__contact {
    padding: 10px;
    height: 85px;
}

.university__contact p i {
    margin-right: 5px;
}

.university__contact p {
    color: #000;
    font-size: 14px;
}

.university__contact h5 {
    text-transform: capitalize;
    color: var(--main-color);
    font-size: 18px;
}


.awards__active .slick-slide,
.university__active .slick-slide,
.partnet__active .slick-slide,
.review__active .slick-slide {
    margin: 0 10px;
}

.awards__active .slick-list,
.university__active .slick-list,
.partnet__active .slick-list,
.review__active .slick-list {
    margin: 0 -10px;
}


.review__description {
    text-align: center;
}

.review__description i {
    font-size: 30px;
    color: #d1d2e6;
    font-weight: 1;
}

.review__description {
    border-radius: 5px;
    padding-bottom: 70px !important;
}

.review__author img {
    width: 100px;
    border-radius: 50px;
    object-fit: cover;
    margin: auto;
    height: 100px;
    background: var(--main-color);
    padding: 3px;
}

.review__author {
    text-align: center;
    margin-top: -50px;
    padding-bottom: 15px;
}

.single__review {
    /* position: relative; */
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    border: 1px solid #ddd;
    border-radius: 10px;
}

.review__author h5 {
    text-transform: capitalize;
    letter-spacing: 3px;
    margin-bottom: 0;
    padding: 8px 0;
}


/* university end */

/* awards start */

.accolades__list h2 {
    text-transform: uppercase;
    margin-bottom: 30px;
    border-bottom: 3px solid var(--main-color);
}

.accolades__list {
    position: sticky;
    top: 10px;
}

.accolades__content p {
    font-size: 18px;
    line-height: 2;
    margin-bottom: 20px;
}

.accolades__list ul li {
    display: flex;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--main-color);
    padding: 10px 0;
}

.accolades__list ul li i {
    margin-right: 10px;
}

.accolades__list ul li span {
    font-size: 16px;
}

.accolades__list ul li:last-child {
    border-bottom: 0;
}

/* awards end */

/* partner start */
.student__review__area {
    background-size: cover;
    animation: testiMonial 20s linear infinite;
    position: relative;
}

@keyframes testiMonial {
    0% {
        background-position: 0 0;
    }

    15% {
        background-position: 250px 50px;
    }

    30% {
        background-position: 500px 0px;
    }

    45% {
        background-position: 750px 50px;
    }

    60% {
        background-position: 1000px 0px;
    }

    75% {
        background-position: 1250px 50px;
    }

    90% {
        background-position: 1500px 0px;
    }

    100% {
        background-position: 1750px 50px;
    }
}

/* partner end */

/* event start */

.event__thumbnail {
    position: relative;
}

.event__thumbnail span {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #fff;
    color: #000;
    padding: 5px 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid var(--main-color);
}

.event__content {
    padding: 15px;
}

.event__content p {
    padding: 10px 0;
}

.event__content ul li {
    color: var(--main-color);
}

.event__content ul li {
    display: flex;
    gap: 5px;
    font-weight: 500;
}

.event__content a {
    color: var(--bs-black);
    font-size: 25px;
    line-height: 1;
}

.event__details ul {
    margin-bottom: 20px;
}

.event__content ul li span i {
    margin-right: 5px;
}

.event__details ul li {
    float: left;
    width: 50%;
    padding-top: 20px;
}

.event__details ul li i {
    font-size: 20px;
    color: var(--main-color);
}

.event__details ul li span {
    font-size: 20px;
}

.event__details h2 {
    color: var(--main-color);
    font-size: 35px;
}

.event__details h2 span {
    display: block;
    color: var(--text-color);
    font-size: 50%;
}

.social_share ul li {
    display: flex;
    width: auto;
    padding: 5px;
}

.social_share {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social_share ul {
    margin-bottom: 0;
}

.social_share h6 {
    margin-bottom: 0;
}

/* event end */

/* country start */
.single__country {
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.country__thumbnail h4 {
    bottom: 10px;
    position: absolute;
    background: #959bffdb;
    width: 100%;
    padding: 5px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    transition: var(--transition);
    font-size: 20px;
    color: var(--primary-bg);
}

.single__country:hover .country__thumbnail h4 {
    bottom: -100%;
    opacity: 0;
}

.view_list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    display: flex;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
    z-index: 2;
    align-items: center;
}

.single__country:hover .view_list {
    height: 100%;
    opacity: 1;
    visibility: visible;
}

.view_list::after {
    position: absolute;
    content: '';
    background: #000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .5;
}


.view_list a {
    color: #fff;
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 16px;
    /* border: 1px solid #898ee5; */
    padding: 10px 20px;
    /* border-radius: 5px; */
    background: #8195f1;
}

/* country end */

/* blog start */

.single__blog {
    padding: 10px;
    background: #F2F3F7;
    border-radius: 10px;
    padding-bottom: 0;
    transition: var(--transition);
}

.single__blog:hover {
    transform: translateY(-5px);
}

.blog__content {
    padding: 20px;
    padding-top: 0;
}

.blog__meta {
    padding: 20px;
    padding-bottom: 5px;
    padding-top: 10px;
    color: #4555f4;
}

.blog__content a {
    color: #000;
    transition: var(--transition);
    font-size: 20px;
    line-height: 1;
    margin-bottom: 10px;
    display: block;
    margin-top: 7px;
}

.single__blog:hover .blog__content a {
    color: #4555F4;
}

.blog__thumbnail a img {
    border-radius: 5px 5px 0 0;
}

.single__latest__blog img {
    width: 80px;
    height: 60px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 10px;
}

.single__latest__blog {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--main-color);
    padding-bottom: 20px;
}

.single__latest__blog:last-child {
    margin-bottom: 0;
    border-bottom: 0;
}

.latest__blog__list {
    position: sticky;
    top: 10px;
}

.blog__details h4 {
    margin-bottom: 20px;
}

.blog__details p {
    margin-bottom: 15px;
}

.single__latest__blog h6 {
    color: var(--text-color);
    transition: var(--transition);
}

.single__latest__blog:hover h6 {
    color: var(--main-color);
}

/* blog end */

/* resource start */

.ielts__content h4 {
    font-size: 30px;
}

.ielts__content h4 span {
    font-size: 25px;
}

.ged__section h2 {
    color: var(--main-color);
    margin-bottom: 20px;
}

.ged__section p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
}

.ged__section h4 {
    margin-bottom: 10px;
}

.ged__info ul {
    margin-left: 20px;
}

.ged__info ul li {
    list-style: disc;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
}

.ged__info {
    margin-top: 50px;
}

.ged__info h6 {
    font-size: 20px;
}

.mba__content h3 {
    text-transform: uppercase;
    color: var(--main-color);
}

.mba__content p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 1.8;
}

.mba__content h4 {
    color: var(--text-color);
    font-size: 30px;
    margin-bottom: 20px;
}

.mba__content ul li {
    margin-bottom: 20px;
    font-weight: 300;
}

.mba__content ul li span {
    font-weight: 500;
    padding: 0 10px;
}

.mba__content ul li i {
    background: var(--main-color);
    color: #fff;
    padding: 6px;
    font-size: 12px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.mba__content img {
    margin-bottom: 20px;
    border-radius: 5px;
}

.sat__content p {
    padding: 10px 0;
}

.sat__item {
    margin-top: 20px;
}

.useful__resources h4 {
    background: var(--main-color);
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.useful__resources ul li a {
    color: var(--text-color);
    text-transform: capitalize;
    font-size: 16px;
    transition: var(--transition);
}

.useful__resources ul li a span {
    text-transform: uppercase;
    font-weight: 400;
}

.useful__resources ul li {
    list-style: disclosure-closed;
    padding: 5px 0;
}

.useful__resources ul {
    margin-left: 30px;
}

.useful__resources ul li a:hover {
    margin-left: 5px;
    color: var(--main-color);
}

.useful__resources {
    position: sticky;
    top: 10px;
}

/* resource end */

/* career start */
.job__card {
    transition: var(--transition);
    border: 1px solid var(--main-color);
    border-radius: 10px;
    margin-bottom: 20px;
}

.job__card:last-child {
    margin-bottom: 0;
}

.job__card:hover {
    transform: translateY(-5px);
}

.career__left {
    width: calc(100% - 150px);
    padding-right: 30px;
    border-right: 1px solid var(--main-color);
}


.job__card__right {
    width: 150px;
    text-align: right;
}

.career__left h3 {
    color: var(--main-color);
}

.career__left p {
    font-size: 16px;
    padding: 10px 0;
}

.career__left ul {
    gap: 10px;
    flex-wrap: wrap
}

.career__left ul li {
    list-style: disc;
    margin-left: 15px;
    font-weight: 500;
}

.single__content span a,
.single__content span {
    color: var(--text-color);
    font-weight: 400;
    font-size: 18px;
}

.single__content {
    transition: var(--transition);
}

.single__content:hover {
    transform: translateY(-5px);
}

.contact__form input:focus,
.contact__form textarea:focus {
    box-shadow: none;
}

.contact__form input,
.contact__form textarea {
    padding: 12px;
    border-radius: 3px;
}

.contact__form {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 20px;
    border-radius: 20px;
}

/* career end */

/* about start */
.row.about__section {
    padding: 100px 0;
}

.about__heading h2 {
    margin-bottom: 40px;
}

.about__pargraph p {
    font-weight: 400;
    margin-top: 20px;
    line-height: 2;
}

.about__heading ul {
    margin-top: 30px;
}

.about__heading ul li {
    display: flex;
    margin-bottom: 10px;
}

.about__heading ul li i {
    margin-right: 10px;
}

/* about end */

/* director start */

.single__director:not(:last-child) {
    margin-bottom: 70px;
}

.single__director h2 {
    color: var(--main-color);
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 40px;
    /* margin-top: 30px; */
}

.director__content h2 {
    font-size: 30px;
    color: var(--text-color);
}

.director__content h2 span {
    display: block;
    color: #868686;
}

.director__content p {
    line-height: 2;
    margin-bottom: 20px;
}

/* director end */

/* team start */

.single__team h2 {
    font-weight: 500;
    padding: 10px 0;
}

.single__team h2 span {
    display: block;
    color: #918f8f;
    text-transform: capitalize;
    font-size: 50%;
    margin-top: 10px;
}

/* team end */

/* contact start */

.single__content i {
    font-size: 20px;
    background: var(--main-color);
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    margin: auto;
    color: #fff;
}

.single__content h3 {
    text-transform: capitalize;
    padding: 15px 0;
}

/* contact end */

/* study abroad start */

.study_country_headline {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
}

.study_country_headline span {
    font-size: 50px;
    color: #4555F4;
    border-bottom: 2px solid;
}

.country__info p {
    font-size: 16px;
    line-height: 1.8;
}

.single__university__item {
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 10px;
    border-radius: 10px;
    transition: var(--transition);
}

.single__university__item:hover {
    transform: translateY(-5px);
}

.single__university__name {
    font-size: 16px;
    text-transform: capitalize;
    color: var(--text-color);
    font-weight: 500;
}

.single__university__thumbnail {
    margin-right: 10px;
}

.single__university__thumbnail img {
    border-radius: 50px;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.single__university__name small {
    display: block;
    font-weight: 300;
    opacity: .8;
}

.study__facilities h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.study__facilities ul li {
    list-style: disc;
    font-size: 17px;
    transition: var(--transition);
    margin-bottom: 15px;
}

.study__facilities ul {
    margin-left: 50px;
}

.study__facilities ul li:hover {
    color: var(--main-color);
}

.single__course__item {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    transition: var(--transition);
}

.single__course__item img {
    border-radius: 10px 10px 0 0;
}

.single__course__item h5 {
    margin-top: 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single__course__item:hover {
    transform: translateY(-5px);
}

.table__heading {
    background: var(--main-color);
}

.table__heading tr th {
    color: #fff;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
}

/* 
.single__course__item {
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgb(209, 210, 230) 0px 8px 24px;
    transition: var(--transition);
    text-align: center;
}

.single__course__item h5 {
    margin-top: 20px;
}

.single__course__item:hover {
    transform: translateY(-5px);
}

.single__table__info {
    display: flex;
    justify-content: space-around;
    border: 1px solid #000;
    margin-bottom: 5px;
}

.single__table__info h5 {
    padding: 10px;
} */

/* study abroad end */

/* footer start */

.footer__area {
    position: relative;
    z-index: 2;
    /* background-image: url(../image/partnet.png);
    background-size: cover;
    background-repeat: repeat-x;
    animation: footer 20s linear infinite; */
}

@keyframes footer {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 1920px 0;
    }
}

.footer__area::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
}

.footer__social li {
    position: relative;
    display: inline-block;
}

.footer__social li a {
    position: relative;
    display: inline-block;
    font-size: 15px;
    color: #ffffff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.single__footer__about {
    color: #fff;
    margin-bottom: 20px;
}

.single__footer__about p {
    color: #fff
}

.footer__title {
    color: #fff;
    font-size: 25px;
    margin-bottom: 15px;
}

.footer__menu ul li {
    padding: 5px 0;
}

.footer__menu ul li a {
    color: #fff;
    text-transform: capitalize;
    font-size: 16px;
    transition: var(--transition);
}

.footer__menu ul li a:hover {
    color: #fff;
    margin-left: 5px;
}

.single__footer__about p a {
    color: #fff;
}

.single__footer__about h6 i {
    color: #fff;
    font-size: 20px;
}

.copyright {
    background: #4555F4;
    color: #fff;
    border-top: 1px solid #ddd;
}

.copyright p {
    text-align: start;
}

.copyright span {
    text-align: end;
    width: 100%;
    display: block;
}

#scrollUp {
    bottom: 23px;
    right: 80px;
    background: #F2F3F7;
    padding: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: var(--bs-black-rgb);
    font-weight: 600;
    line-height: 1;
    border-radius: 50px;
    width: 37px;
    text-align: center;
    transition: var(--transition);
    border: 1px solid var(--main-color);
}

#scrollUp:hover {
    transform: translateY(-5px);
}

#gb-widget-6194 {
    bottom: 70px !important;
}

/* footer end */